<array><item><ColectionName /><BaseDirectory /><Path /><Archivo /><driverName>Opertors</driverName><TexEmergent /><ConfigTags /><Modulos><item><Nombre>_MAS</Nombre><NombreToolBox>(&#8226; + &#8226;)</NombreToolBox><Tipo>SistemFnc</Tipo><title>operator AND</title><FunctionReturn><item>1</item><item>0</item></FunctionReturn><FunctioNParametros>2</FunctioNParametros><InnerHTML>&lt;div type='statement' originalclass='comparator' operator='+' class='lineaDeCodigo' definir='useMASV1' originalid='mas' draggable='true' ondragstart='drag_linea(event)'&gt;(&lt;div type='' class='parametroDiv'&gt;&lt;/div&gt; + &lt;div type='' class='parametroDiv'&gt;&lt;/div&gt;)&lt;/div&gt;</InnerHTML><driverName>Opertors</driverName><location>C:\Users\RFI1\Desktop\DROPBOX_NUEVO\Dropbox (Personal)\___RFI Project\Firm\Developments\baremetal@emic.io\DEV\_util\Opertors</location></item></Modulos><ModulosN><item>_MAS</item></ModulosN></item></array>